body {
  margin: 0;
  height: 100vh;
  background-image: linear-gradient(to bottom right, #0a3a6a, goldenrod);
  background-color: rgb(147, 177, 201);
  background-size: cover;
}

.centerTitle { /*from Gemini; flex-grow: makes the div take up the available space while being in the center, this will push
    the button to the right*/
    text-align: center;
}

.Desc{
    text-align: center;
    font-style: italic;

}

.responses{
  padding: 4%;
    width: 60%;
    margin: auto;
    background-color: rgba(10, 58, 106, 0.4); 
    border-radius: 25px;
    overflow-wrap: break-word;
    color: white;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);

}
.left-nav{
    background-color:#0a3a6a;
    align-items: left;
}


.right-nav{
  background-color:#0a3a6a;
  float: right;
}

.Questions {
  padding: 2%;
  width: 60%;
  margin: 2% auto;
  background-color: rgba(10, 58, 106, 0.4); 
  border-radius: 25px;
  overflow-wrap: break-word;
  color: white;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
}


.submit-button {
    background-color: gray;
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    margin-top: 20px;

    border: none;
    border-radius: 8px;
    transition: background-color 0.3s ease-in-out;
  }
  
  .submit-button.enabled {
    background-color: #00264d;
    cursor: pointer;
  }
  
  .submit-button.enabled:hover {
    background-color: #001f3f;
  }
  
  .submit-button.disabled {
    cursor: not-allowed;
  }

.footer {
  width: 100%;
  text-align: center;
  background-color: rgba(10, 58, 106, 0.9);
  color: white;
  font-size: 0.9rem;
  position: fixed;
}
.submit-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
