.header{
    display: flex;
    align-items: center;
    background-color: #0a3a6a;
    color: goldenrod;
}

.centerTitle { /*from Gemini; flex-grow: makes the div take up the available space while being in the center, this will push
    the button to the right*/
    flex-grow: 1;
    text-align: center;
}

.Desc{
    text-align: center;
    font-style: italic;

}

.back-button{
    margin-left: auto;
}

.Questions{
    padding-left: 1%;
    width: 60%;
    height: 60%;
    padding-top: 4%;
    padding-bottom: 4%;
    background-color: #5a96d3;
    margin: auto;
    border-radius: 25px;
    overflow-wrap: break-word;
}