.header{
    display: flex;
    align-items: center;
    background-color: #0a3a6a;
    color: goldenrod;
}

.centerTitle { /*from Gemini; flex-grow: makes the div take up the available space while being in the center, this will push
    the button to the right*/
    flex-grow: 1;
    text-align: center;
}

.description{
    text-align: center;
    font-style: italic;
}

.navigation-bar{
    background-color:#0a3a6a;
    float: right;
}

.questions{
    padding-left: 1%;
    width: 60%;
    height: 60%;
    padding-top: 4%;
    padding-bottom: 4%;
    background-color: #418edc;
    margin: auto;
    border-radius: 25px;
    overflow-wrap: break-word;
}

