.header{
    display: flex;
    align-items: center;
    background-color: #0a3a6a;
    color: goldenrod;
}
.centerTitle { /*from Gemini; flex-grow: makes the div take up the available space while being in the center, this will push
    the button to the right*/
    flex-grow: 1;
    text-align: center;
}

.back-button{
    margin-left: auto;
}