.centerTitle { /*from Gemini; flex-grow: makes the div take up the available space while being in the center, this will push
    the button to the right*/
    flex-grow: 1;
    text-align: center;
}

.header{
    width: 100%;
}

.home-button{
    float: left;
}
.Desc{
    text-align: center;
    font-style: italic;
}

.Container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(100px,1fr));
    gap: 10px;
    justify-items: center;
    align-items: center;
}

.FaQ {
    text-align: center;
    border-radius: 15px;
    margin-top: 10%;
    background: rgba(10, 58, 106, 0.4);
    padding: 20px;
    width: 300px;
    height: auto;
    text-align: center;
    color: white;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
    overflow-wrap: break-word;
}
